<h1>HengShan Website</h1>
<p><%= link_to 'HengShan Activities', activities_path %></p>
<p><%= image_tag "map.jpg", :style => "width:900px;height:500px" %></p>
<p><%= link_to 'spot1',  :controller => "travelmap", :action => "spot1" %></p>
<p><%= link_to 'spot2',  :controller => "travelmap", :action => "spot2" %></p>


